@model IEnumerable<ToDoAppServiceContracts.DTO.TaskResponse>

@{
    ViewBag.Title = "TODO App";
}

<style>
    .completed td {
        text-decoration: line-through;
        color: gray;
    }
</style>

<table class="table w-100">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Is Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@(item.IsCompleted ? "completed" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.IsCompleted)
                    {
                        <span>Completed</span>
                    }
                    else
                    {
                        <span>On Going</span>
                    }
                </td>
                <td>
                    <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-controller="ToDo" asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-warning btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
